*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: xx-large;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
}
.container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
    padding: 10px;
    position: relative;
    height: auto;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
}

.box{
    width: 100px;
    height: 100px;
    border:1px solid black;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.bt0{
    border-top: 0;
}
.bl0{
    border-left: 0;
}
.br0{
    border-right: 0;
}
.bb0{
    border-bottom: 0;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 323px;
    margin-top: 10px;
    border: 1px solid black;
}
#reset{
    width: 70px;
    height: 30px;
    margin-top: 20px;
}