.body{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: auto;
  height: auto;
}
.leftBox{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border: 1px solid black;
}
.rightBox{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border: 1px solid red;
}

